<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.PostgresPlusDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:postgresql://localhost:5432/tests4
        </property>

        <property name = "hibernate.connection.username">
            postgres
        </property>

        <property name = "hibernate.connection.password">
            kasymov2002
        </property>

        <!-- This property enables us to update the
               table everytime the program runs-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="models.Clothes"/>
        <mapping class="models.Staff"/>
        <mapping class="models.BaseModel"/>
        <mapping class="models.BaseModelWithName"/>
        <mapping class="models.Model"/>
        <mapping class="models.Position"/>
        <mapping class="models.Show"/>
        <mapping class="models.Sponsor"/>

    </session-factory>
</hibernate-configuration>